<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.fullcalendar.mapper.CalendarMapper">
    <resultMap id="BaseResultMap" type="com.yuan.fullcalendar.model.CalendarModel">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="start" jdbcType="VARCHAR" property="start"/>
        <result column="end" jdbcType="VARCHAR" property="end"/>
        <result column="allDay" jdbcType="BOOLEAN" property="allDay"/>
        <result column="color" jdbcType="VARCHAR" property="color"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, `start`, `end`, allDay, color
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from y_calendar
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from y_calendar
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yuan.fullcalendar.model.CalendarModel"
            useGeneratedKeys="true">
        insert into y_calendar (title, `start`, `end`,
          allDay, color)
        values (#{title,jdbcType=VARCHAR}, #{start,jdbcType=VARCHAR}, #{end,jdbcType=VARCHAR},
          #{allDay,jdbcType=BOOLEAN}, #{color,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.yuan.fullcalendar.model.CalendarModel"
            useGeneratedKeys="true">
        insert into y_calendar
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="start != null">
                `start`,
            </if>
            <if test="end != null">
                `end`,
            </if>
            <if test="allDay != null">
                allDay,
            </if>
            <if test="color != null">
                color,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                #{start,jdbcType=VARCHAR},
            </if>
            <if test="end != null">
                #{end,jdbcType=VARCHAR},
            </if>
            <if test="allDay != null">
                #{allDay,jdbcType=BOOLEAN},
            </if>
            <if test="color != null">
                #{color,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuan.fullcalendar.model.CalendarModel">
        update y_calendar
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="start != null">
                `start` = #{start,jdbcType=VARCHAR},
            </if>
            <if test="end != null">
                `end` = #{end,jdbcType=VARCHAR},
            </if>
            <if test="allDay != null">
                allDay = #{allDay,jdbcType=BOOLEAN},
            </if>
            <if test="color != null">
                color = #{color,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuan.fullcalendar.model.CalendarModel">
        <!--@mbg.generated-->
        update y_calendar
        set title = #{title,jdbcType=VARCHAR},
        `start` = #{start,jdbcType=VARCHAR},
        `end` = #{end,jdbcType=VARCHAR},
        allDay = #{allDay,jdbcType=BOOLEAN},
        color = #{color,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from y_calendar
    </select>
</mapper>