<link rel="stylesheet" type="text/css" href="/fullcalendar/css/jquery-ui.css">
<div class="fancy">
    <h3>编辑事件</h3>
    <form id="add_form" action="EventDoServlet" method="post">
        <input type="hidden" name="action" value="<%=action%>">
        <input type="hidden" name="id" id="eventid" value="<%=id%>">
        <p>日程内容：
            <input type="text" class="input" name="event" id="event" style="width:320px" placeholder="记录你将要做的一件事...">
        </p>
        <p>开始时间：
            <input type="text" class="input datepicker" name="startdate" id="startdate" readonly>
            <span id="sel_start"></span>
        </p>
        <p id="p_endtime"> 结束时间：
            <input type="text"
                   class="input datepicker"
                   name="enddate" id="enddate"
                   readonly>
            <span id="sel_end"></span>
        </p>
        <p>
            <label><input type="checkbox" value="1" id="isallday" name="isallday">全天</label>
            <label><input type="checkbox" value="1" id="isend" name="isend"
                          checked="checked"> 结束时间</label>
        </p>
        <div class="sub_btn"><span class="del">
            <input type="button" class="btn btn_del" id="del_event" value="删除"></span>
            <input type="submit" class="btn btn_ok" value="确定">
            <input type="button" class="btn btn_cancel" value="取消"
                   onClick="$.fancybox.close()">
        </div>
    </form>
</div>
<script src="/fullcalendar/assist/myfull_edit.js"></script>