<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<div class="fancy">
    <h3 th:if="${calendarModel.id != null}">编辑日程</h3>
    <h3 th:if="${calendarModel.id == null}">新增日程</h3>
    <form id="full_form" action="EventDoServlet" method="post" th:onsubmit="return false">
        <input type="hidden" name="id" id="eventid" th:value="${calendarModel.id}">
        <p>日程内容：
            <input type="text" class="input" name="title" id="title" style="width:320px" placeholder="记录你将要做的一件事...">
        </p>
        <p>开始时间：
            <input type="text" class="input datepicker" name="start" id="startdate" readonly
                   th:value="${calendarModel.start}">
            <span id="sel_start" style="display:none;">
                <select>
                    <option th:each="item,temp:${calendarModel.hours}">[[${item}]]</option>
                </select> 时
                <select>
                    <option th:each="item,temp:${calendarModel.minus}">[[${item}]]</option>
                </select> 分
            </span>
        </p>
        <p id="p_endtime"> 结束时间：
            <input type="text" class="input datepicker" name="end" id="end" readonly="readonly"
                   th:value="${calendarModel.end}">
            <span id="sel_end" style="display:none;">
                <select name="s_hour">
                    <option th:each="item,temp:${calendarModel.hours}">[[${item}]]</option>
                </select> 时
                <select name="s_minute">
                    <option th:each="item,temp:${calendarModel.minus}">[[${item}]]</option>
                </select> 分
            </span>
        </p>
        <p>
            <label><input type="checkbox" value="1" id="isallday" name="isallday">全天</label>
            <label><input type="checkbox" value="1" id="isend" name="isend"
                          checked="checked"> 结束时间</label>
        </p>
        <div class="sub_btn"><span class="del">
            <input th:if="${calendarModel.id != null}" type="button" class="btn btn_del" id="del_event"
                   value="删除"></span>
            <input type="submit" class="btn btn_ok" onclick="FullEdit.showBtn()" value="确定">
            <input type="button" class="btn btn_cancel" value="取消"
                   onClick="$.fancybox.close()">
        </div>
    </form>
</div>
<script src="/fullcalendar/assist/myfull_edit.js"></script>
</html>