<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>日程管理</title>
    <link rel="stylesheet" type="text/css" href="/fullcalendar/css/main.css">
    <link rel="stylesheet" type="text/css" href="/fullcalendar/css/fullcalendar2.css">
    <link rel="stylesheet" type="text/css" href="/fullcalendar/css/fancybox.css">
    <link rel="stylesheet" type="text/css" href="/fullcalendar/assist/myfull.css">
    <link rel="stylesheet" type="text/css" href="/fullcalendar/css/jquery-ui.css">
    <!--    <script src='http://code.jquery.com/jquery-1.9.1.js'></script>-->
    <!--    <script src='http://code.jquery.com/ui/1.10.3/jquery-ui.js'></script>-->
    <script src='/fullcalendar/js/jquery1.9.js'></script>
    <script src='/fullcalendar/js/jqueryui1.10.js'></script>
    <script src='/fullcalendar/js/fullcalendar.min.js'></script>
    <script src='/fullcalendar/js/jquery.fancybox-1.3.1.pack.js'></script>
    <script src='/fullcalendar/js/fullcalendar.js'></script>
    <!--说明：需要整合农历节气和节日，引入fullcalendar.js fullcalendar2.css
              不需要              则引入：fullcalendar.min.js fullcalendar.css-->
    <script src="/fullcalendar/assist/myfull.js"></script>
</head>

<body>
<div id="main" style="width:1060px">
    <h2 class="top_title"><a>原梦日程管理</a></h2>
    <div id='calendar'></div>
</div>
</body>
</html>